<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Calculadora Web</title>
</head>
<body>

    <h1>Calculadora Web</h1>

    <form action="/calcular" method="POST">

        <label>Valor 1:</label>
        <input type="text" name="valor1" required>
        <br><br>

        <label>Valor 2:</label>
        <input type="text" name="valor2" required>
        <br><br>

        <button type="submit" name="operacao" value="soma">Adição</button>
        <button type="submit" name="operacao" value="subtracao">Subtração</button>
        <button type="submit" name="operacao" value="multiplicacao">Multiplicação</button>
        <button type="submit" name="operacao" value="divisao">Divisão</button>

    </form>

  
        <h2>Resultado: {{ resultado }}</h2>


</body>
</html>